name: flutter_ahlul_quran_app
description: Aplikasi Al-Quran Indonesia

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  # UI Components
  cupertino_icons: ^1.0.6
  flutter_svg: ^2.0.10
  google_fonts: ^6.1.0
  flutter_screenutil: ^5.9.0

  # State Management
  flutter_bloc: ^8.1.3
  equatable: ^2.0.5

  # Network & Data
  http: ^1.1.2
  dartz: ^0.10.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true

  assets:
    - assets/
